@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ECECDC;
}

.main {
    width: 100%;
    height: 1024px;
    position: relative;
    background: #ECECDC;
    margin: auto;
    display: block;
}

.lbBemVindo {
    position: absolute;
    width: 330px;
    height: 50px;
    left: 8%;
    top: 17.5%;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #2fcfa7;
}

.lbDworkStress {
    position: absolute;
    width: 433px;
    height: 50px;
    left: 8%;
    top: 23%;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #186b57;
}

.lbTextoIntroducao {
    position: absolute;
    width: 603px;
    height: 278px;
    left: 8%;
    top: 28%;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #186b57;
}

.button {
    position: absolute;
    width: 301px;
    height: 60px;
    left: 8%;
    top: 70%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-link {
    position: absolute;
    left: 0%;
    right: 0.33%;
    top: 0%;
    bottom: 0%;
    background: #acecdc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.texto-button {
    position: absolute;
    left: 27%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #186b57;
}

.img-figura {
    position: absolute;
    width: 500px;
    height: 500px;
    background: url(../images/figuraPagInicial.png);
    left: 55%;
    top: 17.5%;
}